@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}

:root{
  --clr-p: #BE14C1;
}

*, *::before, *::after{
  box-sizing: border-box;
}


